body{
  min-height:100vh;
}
main{
  display: flex;
}
.content{
  flex-grow: 1;
}
aside{
  order: 1;
}

main>*{
  background-color:#eee;
  margin:10px;
}
main>*:not(:nth-child(1)){
  margin-left:0px;
}
header, footer{
  background-color:#ccc;
}

nav, aside{
  min-width:160px;
  max-width:160px;
}

@media screen and (max-width: 620px){
  main{
    flex-direction: column;
  }
  main>*:not(:nth-child(1)){
    margin-left:10px;
    margin-top:0px;
  }
  nav{
    order: -1;
  }
  aside{
    order: 1;
  }
  nav ul{
    text-align:center;
  }
  nav figure img{
    width:100px;
    float:left;
  }
  nav, aside{
    min-width:none;
    max-width:none;
  }
}
