body{
  min-height:100vh;
}
body>*{
}
main{
}
.content{
}
nav{
}
aside{
}

main>*{
  background-color:#eee;
  margin:10px;
}
main>*:not(:nth-child(1)){
  margin-left:0px;
}
header, footer{
  background-color:#ccc;
}

nav, aside{
  min-width:160px;
  max-width:160px;
}

@media screen and (max-width: 620px){
  main{
  }
  main>*:not(:nth-child(1)){
    margin-left:10px;
    margin-top:0px;
  }
  nav, aside{
    min-width:none;
    max-width:none;
  }
}
